<!-- <mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{dataAdminPost.post}}
                <a>
                    <fa-icon class="fa-xl" [icon]="faTrash"></fa-icon>
                </a>
                <a>
                    <fa-icon class="fa-xl" [icon]="faPen"></fa-icon>
                </a>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            ID post = {{dataAdminPost._id}}, ImageUrl = {{dataAdminPost.ImageUrl}} ,userIdPoster = {{dataAdminPost.userIdPoster}}
        </p>
    </mat-expansion-panel>
</mat-accordion> -->