@import "../../../assets/scss/_variable";
.example-spacer {
    flex: 1 1 auto;
}

fa-icon {
    font-size: 2rem;
    margin: 0% 1% 0 1%;
    color: $secondaire;
    cursor: pointer;
    &:hover {
        color: $primaire;
    }
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
}

span {
    color: $secondaire;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
        color: $primaire;
    }
}