@import "../../../assets/scss/variable";
.mat-card {
    width: 50%;
}

.warning {
    font-size: 1.2rem;
    color: $primaire;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    & .cancel_valid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & fa-icon {
        font-size: 1.5rem;
        margin: 0 2% 0 2%;
        cursor: pointer;
        text-align: center;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    &-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & .like {
        font-size: 4rem;
        cursor: pointer;
    }
}

.green {
    color: $tertiaire;
}

.red {
    color: $primaire;
}

.container_modify {
    display: flex;
    & * {
        margin: 1% 1% 1% 1%;
    }
}

.cancel {
    font-size: 1.5rem;
    cursor: pointer;
}
