<div class="container">
    <mat-card>
        <div class="container-card">
            <img mat-card-image *ngIf="post.ImageUrl" [src]="post.ImageUrl" [alt]="">
            <mat-card-content>
                {{post.post}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" *ngIf="this.userId === this.post.userIdPoster">Modifier le post</button>
                <button mat-raised-button color="primary" type="submit" *ngIf="this.userId === this.post.userIdPoster" (click)="onDeletePost()">Supprimer le post</button>
                <div *ngIf="actionButtonDelete != false">
                    Etes-vous sur de vouloir supprime ce post cette action est irremediable: <button (click)="onConfirmaDelete(this.post._id)">Delete</button> | <button (click)="onStopDelete()">annuler</button>
                </div>
                <button mat-raised-button color="primary" type="submit" (click)="onPostById()">Voir le post</button>
            </mat-card-actions>
            <mat-form-field class="full-width">
                <input matInput placeholder="Commencer un Post">
            </mat-form-field>
            <mat-card-actions>

                <button mat-raised-button color="primary" type="submit">Poster</button>
            </mat-card-actions>
        </div>

    </mat-card>
</div>