<div class="container-formulaire">
    <form [formGroup]="InscriptionForm" novalidate>
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>Connexion</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="email" formControlName="email" type="email">
                            <mat-error *ngIf="InscriptionForm.controls['email'].hasError('required')">
                                email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="InscriptionForm.controls['email'].hasError('pattern')">
                                it's not <strong>a valid email</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="password" type="password" formControlName="password">
                            <mat-error *ngIf="InscriptionForm.controls['password'].hasError('required')">
                                password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="InscriptionForm.controls['password'].hasError('minlength')">
                                password must have <strong> > 8 characters</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="confirm Password" type="password" formControlName="confirmPassword">
                            <mat-error *ngIf="InscriptionForm.controls['confirmPassword'].hasError('required')">
                                confirm Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="first Name" formControlName="firstName">
                            <mat-error *ngIf="InscriptionForm.controls['firstName'].hasError('required')">
                                first Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="last Name" formControlName="lastName">
                            <mat-error *ngIf="InscriptionForm.controls['lastName'].hasError('required')">
                                last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
            </mat-card-actions>
            <mat-card-actions>
                <button mat-raised-button (click)="onBackHome()">Retour a l'accueille</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
