@import "../connexion-user/sign-in-login.component";
.error {
    font-size: 1.5rem;
    font-weight: bolder;
    color: red;
    text-decoration: underline;
}

.mat-form-field {
    margin-right: 8px;
}
