<div class="container-redirecting_page">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Groupamania</mat-card-title>
            <mat-card-subtitle>Connecter-vous ou crée votre compte</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage [src]="imageUrl">
        <div class="redirecting">
            <mat-card-actions>
                <button mat-raised-button (click)="onConnexion()">Connexion</button>
            </mat-card-actions>
            <mat-card-actions>
                <button mat-raised-button (click)="onRegistration()">Inscription</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
