.mat-card {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

input {
    font-size: 15px;
}

.container {
    &-formulaire {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    font-size: 1.5rem;
    font-weight: bolder;
    color: red;
    text-decoration: underline;
}

@media screen and (max-width:425px) and (min-width:320px) {
    .shipping-card {
        width: 90%;
    }
}
