/* You can add global styles to this file, and also import other style files */

@import "./src/app/assets/scss/reset.scss";
@import "./src/app/assets/scss/variable";
body {
    background-color: $secondaire;
}

.mat-toolbar {
    background-color: $tertiaire!important;
}

.mat-card {
    border: 1.5px solid $tertiaire;
    background-color: $secondaire!important;
}

button {
    background-color: $primaire!important;
    color: white!important;
    &:hover {
        background-color: $tertiaire!important;
        color: $tertiaire;
    }
}

@media screen and (max-width:1024px) and (min-width:426px) {
    .container {
        & .mat-card {
            width: 70%!important;
            & img {
                width: 90%;
                margin-top: 2%;
            }
        }
        &-card {
            width: 100%;
        }
    }
    .mat-card {
        margin-top: 8%;
    }
}

@media screen and (max-width:425px) and (min-width:320px) {
    form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 25%;
    }
    .shipping-card {
        width: auto;
        & * {
            display: block!important;
        }
    }
    .mat-form-field {
        margin-bottom: 5%;
    }
    .container {
        margin-top: 10%!important;
        & .mat-card {
            width: 70%!important;
            & * {
                display: flex;
                flex-direction: column;
                align-items: center!important;
            }
            & button {
                margin: 1% 1% 1% 1%;
            }
            & img {
                margin-top: 2%;
                width: 90%;
            }
        }
        &-card {
            width: 100%;
        }
        .mat-card {
            margin-top: 8%;
        }
        &-redirecting_page {
            & .mat-card {
                width: 80%;
            }
        }
    }
}
